@import url("https://fonts.google.com/specimen/Concert+One?preview.text=SPECTRA");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #10092c;
    overscroll-behavior: none;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    height: auto;
}

.bar {
    width: 47px;
    height: 47px;
    margin-left: 100%;
    margin-top: -2%;
}

.header {
    padding: 4em;
    opacity: 0.75;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
}

.header h1 {
    width: 80%;
    background: linear-gradient(to top, #cecece 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 120px;
    letter-spacing: -0.05em;
    line-height: 1;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 70px;
    text-align: left;
    color: #cecece;
    margin-left: 15%;
    margin-top: 7%;
}

.glassy-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(50px);
    pointer-events: none;
}

.container {
    position: absolute;
    top: 0;
    z-index: 100000;
    width: 100%;
}

.img {
    width: 450px;
    height: 250px;
    margin-bottom: 10px;
}

.next-page-button {
    position: fixed;
    right: 100px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    font-size: 70px;
    color: #cecece;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    opacity: 0.7;
}

.next-page-button:hover {
    opacity: 1;
    transform: translateY(-50%) rotate(90deg) scale(1.2);
}


/* Media query for responsiveness */
@media (max-width: 768px) {
    .header h1 {
        font-size: 40px;
        width: 90%;
    }

    .header {
        padding: 2em;
    }
}

.next-page-button {
    position: fixed;
    right: 535px;
    top: 80%;
    transform: translateY(-50%) rotate(90deg);
    font-size: 100px;
    color: #cecece;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    opacity: 0.7;
}

.next-page-button:hover {
    opacity: 1;
    transform: translateY(-50%) rotate(90deg) scale(1.2);
}

/* Text Effect Styles */
.wrapper {
    width: 70vw;
    padding: 15px 40px;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    margin: 300px auto 20px auto;
    position: center;
    margin-top: 2%;
}

.wrapper::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.wrapper::before {
    content: "";
    background: linear-gradient(45deg, #FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5, #002BFF, #FF00C8, #FF0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#app {
    font-size: 34px;
    font-family: monospace;
    color: #FFF;
    text-align: justify;
}