
body{
    background-image: radial-gradient(rgba(207, 45, 207,0.9),rgba(106, 13, 173,0.9), rgba(49, 7, 79,0.9));
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    margin:0;
}

section{
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    padding: 100px 10vw;
    text-align: left;
    
}



section h1 {
    margin: 0 0 20px 0;
    padding-left: 15px;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
}

section p {
    padding-left: 25px;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
}
.cyan{
    background: #00ffff;
}

.violet{
    background: #6a0dad;
    
}

.magenta{
    background: #ff00ff;
}

.wave1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 90px;
}

.wave1 .shape-fill {
    fill: #FF00FF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .wave1 svg {
        width: calc(198% + 1.3px);
        height: 90px;
    }
}



h1{
    color: white;
    font-size: 80px;
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: ExtraBold;
    text-align: left;
}
    


p{
    color: white;
    font-size: 18px;
   
}


.wave3 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
   
}

.wave3 svg {
    position: relative;
    display: block;
    width: calc(122% + 1.3px);
    height: 79px;
}

.wave3 .shape-fill {
    fill: #FF00FF;
}


  .social-media-icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    flex-direction: row;
    
  }
  
  .social-media-icons a{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    outline: 2px solid white;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .social-media-icons a:hover{
    outline-offset: 3px;
    transition: all 0.3s;
  }
  
  .social-media-icons a img{
    transition: all 0.3s;
  }
  
  .social-media-icons a:hover img{
    transform: scale(1.15);
  }
  
  .social-media-icons li:nth-child(1) a:hover{
    background: radial-gradient(
    circle at 30% 107%, #fdf497 0%,
    #fdf497 5%, #fd5949 45%,
    #d6249f 60%, #285AEB 90%
    );
  }
   
  .social-media-icons li:nth-child(2) a:hover{
    background: #1D9BF0;
  }
   
  .social-media-icons li:nth-child(3) a:hover{
    background: #0a66c2;
  }
  

