* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: black;
}



/* dimensions of page 1 */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}

/* circle */
.circle-background {
    position: absolute;
    width: 970px;
    height: 970px;
    background: #e7e4d1;
    border-radius: 50%;
    left: 50%;
    top: -5%;
    transform: translateX(-50%);
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #000;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

/* logo */
.logo {
    width: 80px;
    height: auto;
    position: absolute;
    left: 15px;
}

.logo img {
    width: 100%;
    height: auto;
}


/* logo2 */
.logo2 {
    width: 80px;
    height: auto;
    position: absolute;
    left: 230px;
}

.logo2 img {
    width: 100%;
    height: auto;
}





.social-icons {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: fit-content;
}

.social-icons a {
    display: inline-block;
}

.social-icons img {
    width: 70px;
    height: 70px;
    filter: invert(100%);
    cursor: pointer;
}







/*.social-icons {
    position: absolute;
    top: 150px;
    left: 50%;
    /* Center horizontally 
    transform: translateX(-50%);
     Offset by half width 
    z-index: 1000;
    display: flex;
    gap: 5px;
}

.social-icons img {
    width: 70px;
    height: 70px;
    filter: invert(100%);
    cursor: pointer;

}*/

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;
}

.navbar-toggler {
    border: none;
    background: none;
    background-color: #e7e4d1;
    padding: 8px;
}

.navbar-toggler-icon {
    width: 30px;
    height: 3px;
    background-color: black;
    position: relative;
    display: inline-block;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 0;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    bottom: -8px;
}

.navbar-collapse {
    background-color: black;
    position: absolute;
    top: 50px;
    right: 10px;
}

.navbar-nav .nav-link {
    color: black !important;
    background-color: #e7e4d1;
    font-size: 1rem;
    text-align: left;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #e7e4d1;
}




.titles {
    text-align: center;
    flex-grow: 1;
    padding: 0 20px;
}

/* Stefan Mizzi - title */
h1 {
    font-size: 3.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

/* out of the ordinary - title */
h2 {
    font-size: 2.0rem;
    font-weight: normal;
    color: #333;
}

/* stefan - image */
.stefan {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.stefan img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    transform: translateY(50px);
}


/* dimensions of page 2 */
.container2 .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #e7e4d1;
}

.header {
    width: 100%;
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
}

.centered-title {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 7rem;
}

.description {
    text-align: justify;
    font-size: 2.3rem;
    font-weight: normal;
    color: #333;
    max-width: 120%;
    margin-left: -20rem;
    margin-right: -20rem;
    margin-top: 2rem;
}



/* dimensions of page 3 */
.container3 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}


/* photo gallery */
.main-scroll-div {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px 0;
    position: relative;
    top: 670px;
    left: -170px;
}


.main-scroll-div-right {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 20px 0;
    position: relative;
    top: 550px;
    left: 170px;

}


.cover {
    position: relative;
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cover::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, black, transparent);
    pointer-events: none;
}

.cover::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    height: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, black, transparent);
    pointer-events: none;
}

.scroll-images {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    overflow: auto;
    position: absolute;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px;
}

.child {
    min-width: 350px;
    height: 500px;
    margin: 1px 10px;
    position: relative;
    cursor: pointer;
    border: 1px solid rgba(207, 201, 201, 0.3);
    overflow: hidden;
    display: block;
    left: 600px;
}

.scroll-images::-webkit-scrollbar {
    -webkit-appearance: none;
}

.child-img {
    width: 380px;
    height: 500px;
    object-fit: cover;
    display: block;

}

.icon {
    color: #e7e4d1;
    background-color: black;
    font-size: 50px;
    outline: none;
    border: none;
    padding: 0px 20px;
    cursor: pointer;
    z-index: 100;
    position: relative;
}




.image-frame {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}




/* Desktop */
@media screen and (max-width: 768px) {



    .circle-background {
        width: 800px;
        height: 800px;
        top: 22px;
    }


    .centered-title {
        font-size: 40px;
    }

    .description {
        font-size: 23px;
        width: 900px;
    }

    .stefan {
        width: 110%;
        height: 110%;
        margin-left: -20px;
    }

    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 1.4rem;
    }


    .logo,
    .logo2 {
        width: 60px;
        left: 5px;
        top: -5px;
    }

    .social-icons {
        top: 130px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .social-icons img {
        width: 70px;
        height: 70px;
    }

    .child {
        min-width: 350px;
        height: 500px;
        left: 50px;
        top: -5px;

    }

    .image-frame {
        width: 100%;
        height: 100%;
    }

    .main-scroll-div {
        left: -55px;
        top: 650px;
    }

    .main-scroll-div-right {
        left: 60px;
        top: 517px;
    }
}









/*tablet*/


@media screen and (min-width: 768px) and (max-width: 1024px) {


    .circle-background {
        width: 800px;
        height: 800px;
        top: 28px;
        position: center;
    }


    .centered-title {
        font-size: 32px;
        margin-top: 35px;

    }

    .description {
        font-size: 18px;
        width: 870px;
        position: center;
        margin-top: -10px;
    }

    .stefan {
        height: 100%;
        width: 160%;
        margin-left: -110px;
        margin-top: -45px;
    }

    h1,
    h2 {
        margin-top: 25px;
    }


    .logo,
    .logo2 {
        width: 60px;
        top: -15px;
    }


    .logo {
        left: -24px;
    }


    .logo2 {
        left: -10px;
    }




    .social-icons {
        top: 215px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .social-icons img {
        width: 40px;
        height: 40px;
    }

    .child {
        min-width: 200px;
        height: 350px;
        left: 5px;
        top: -25px;
    }

    .child-img {
        width: 20%;
        height: 100%;

    }

    .image-frame {
        width: 100%;
        height: 100%;
    }


    .main-scroll-div {
        left: -80px;
        top: 525px;
    }


    .main-scroll-div-right {
        left: 50px;
        top: 390px;
    }
}












/*mobile*/


@media screen and (max-width: 480px) {


    .circle-background {
        width: 800px;
        height: 800px;
        top: 28px;
    }


    .centered-title {
        font-size: 32px;
        margin-top: 35px;

    }

    .description {
        font-size: 17px;
        width: 870px;
        position: center;
        margin-top: -10px;
    }

    .stefan {
        height: 100%;
        width: 150%;
        margin-left: -75px;
        margin-top: -15px;
    }

    h1,
    h2 {
        margin-top: 25px;
    }


    .logo,
    .logo2 {
        width: 60px;
        top: -15px;
    }


    .logo {
        left: -24px;
    }


    .logo2 {
        left: -10px;
    }





    .social-icons {
        top: 165px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .social-icons img {
        width: 40px;
        height: 40px;
    }


    .child {
        min-width: 200px;
        height: 350px;
        left: 5px;
        top: -25px;
    }

    .child-img {
        width: 100%;
        height: 100%;

    }

    .image-frame {
        width: 100%;
        height: 100%;
    }


    .main-scroll-div {
        left: -80px;
        top: 525px;
    }


    .main-scroll-div-right {
        left: 50px;
        top: 390px;
    }
}